* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color:  greenyellow;
}

header{
    background: green;
    padding: 20px;
}

h1, h2 {
    color: black;
    font-family:'Lucida Grande';
    text-align: center;
}

.choices{
    display: flex;
    justify-content: space-around;
    margin: 20px;   
}

img{
    height: 300px; 
    width: 300px; 
    border: 6px solid black;   
}

.container{
    display: flex;
    justify-content: center;
   
} 

.computer{
    display: flex;
    justify-content: center;
    
}






